.jobRow {
    margin: 10px;
    background-color: #A5D6A7;
    border: 2px groove #388E3C;
    cursor: pointer;

}

.jobRow:hover {
    opacity: 0.9;
    border: 3px solid #ffce8f;
}

.jobHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #ffce8f;
  background-color: #388E3C;
  border: 1px solid #327e36;
}

.jobHeader h3 {
  margin: 2px;
  font-size: 18px;
  font-weight: 700;
  color: #ffce8f;
}

.jobCreationDate {
  font-size: 12px;
  font-weight: lighter;
  color: white;
  opacity: 0.8;
}

.jobStatus {
   font: oblique bold 16px Georgia, 'Times New Roman', Times, serif;
   border: 2px groove;
   border-radius: 5px;
   padding: 8px;
  }
  
  .scheduled {
    color: #020200;
    background-color: #edff4a;
    border-color: #edff4a;
  }
  
  .active {
    color: #000000;
    background-color: #00BCD4;
    border-color: #00BCD4;
    
  }
  
  .invoicing {
    color: #000000;
    background-color: #FFC107;
    border-color: #FFC107;
  }

  .completed {
    color: #000000;
    background-color: #88ff00;
    border-color: #88ff00;
  }
  
  .toPrice {
    color: #000000;
    background-color: #ff00aa;
    border: #ff00aa;
  }

  .jobCustomerAndSite {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin: 5px;
        font-size: 16px;
        font-weight: bold;
        color: #5f3215;
  }